h1 {
    font-size: 5em;
    margin: 0.67em 0;
 }

a {
    font-size: 3em;
    color: red;
    height: 0;
}
p {
    font-size: 10;
    color: royalblue;
}

ul{
    margin-bottom: 0;
}

br {
    font-weight: bolder;
}
